@model IEnumerable<opg_201910_interview.Models.FileModel>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.File)
            </th>
          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.File)
                </td>
            
            </tr>
        }
    </tbody>
</table>
